/* src/styles.scss */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  /* FONDO ROSA DE RESPALDO */
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%) !important;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #fecfef; } /* Combinado con el fondo */
::-webkit-scrollbar-thumb { background: #ff9a9e; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #ff7a80; }
